
# ---- Python ----
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib

# ---- Virtual Environments ----
venv/
env/
.face_recognition_env/
face_recognition_env/
*/Scripts/
*/Lib/

# Ignore wheel files
*.whl

# Ignore logs folder
logs/

# ---- Logs / Dumps ----
*.log
*.pid

# ---- IDE / Editors ----
.vscode/
.idea/

# ---- OS junk ----
.DS_Store
Thumbs.db

# ---- Build / Dist ----
build/
dist/
*.egg-info/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Images /
